Repository Tesorro/social-learning-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix --max-warnings=0, prettier --write

chore(eslint): configure eslint
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(shadcn): configure shadcn
  .lintstagedrc.json
  components.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/page.tsx
  src/lib/utils.ts
  tsconfig.json
Due: next lint --fix --max-warnings=0, prettier --write

chore(tsconfig): edit tsconfig settings
  tsconfig.json
Due: prettier --write

chore(prisma): install prisma
  .gitignore
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: prettier --write

chore(docker): configure settings
  docker-compose.yml
Due: none

chore(prisma): add user scheme
  lib/prisma.ts
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250926182706_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  src/app/page.tsx
  tsconfig.json
Due: next lint --fix --max-warnings=0, prettier --write

feat(supabase): add Supabase authentication setup
  package.json
  pnpm-lock.yaml
  src/app/auth/confirm/route.ts
  src/app/error/page.tsx
  src/middleware.ts
  utils/supabase/client.ts
  utils/supabase/middleware.ts
  utils/supabase/server.ts
Due: next lint --fix --max-warnings=0, prettier --write

Path conditions:
  next lint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,scss,html})
